<html>
    <%- include('./partials/head.ejs') %>    
    <body>
        
        <%- include('./partials/nav.ejs') %>
        
        <div>
            <h3>Welcome To Home</h3>
        </div>
        <div class="middle-flex">
            <h3>All Blogs</h3>

            <% if (blogs.length) { %>
                <% blogs.forEach(blog => { %>
                    <div class="blog-box">
                        <div class="box-header"><%= blog.title %> - <%= blog.snippet %></div><br/>
                        <div><%= blog.description %></div><br/>
                    </div>
                <% }); %>
            <% } else { %>
                <h3>No blog</h3>
            <% } %>
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>  
    </body>
</html>