<html>
    <%- include('./partials/head.ejs') %>    
    <body>
        
        <%- include('./partials/nav.ejs') %>
        
        <div>
            <h2>Welcome To Home</h2>
        </div>
        <div>
            <h3>All Blogs</h3>

            <% if (blogs.length) { %>
                <% blogs.forEach(blog => { %>
                    <div>
                        <span style="font-size:large"><%= blog.title %> - <%= blog.snippet %></span><br/>
                        <span><%= blog.description %></span><br/>
                    </div>
                <% }); %>
            <% } else { %>
                <h3>No blog available</h3>
            <% } %>
        </div>
    </section>
    </body>
</html>